@keyframes fade {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

.fade{
  animation-name: fade;
  animation-duration: 1.2s;
}

li{
  list-style-type: none;
}

button{
  cursor: pointer;
}

.slideshow_container{
  width: 100%;
  height: 100%;
  position: relative;
}

.mainImage{
  display: none;
}

.slides{
  height: 100%;
}

.slide{
  width: 100%;
  height: 100%;
  display: none;
}

.slide.active{
  display: block;
}

.slide img{
  width: 100%;
  height: 100%;
}

.previous_button, .next_button{
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  background-color: var(--white);
  border: none;
  border-radius: 100%;
  transform: translateY(-50%);
}

.previous_button{
  left: 15px;
}

.next_button{
  right: 15px;
}

.product_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
}

.companyName{
  color: var(--orange);
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: 1.85px;
}

.productName{
  color: var(--black);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 32px;
}

.description{
  color: var(--gray);
  font-size: .9375rem;
  font-weight: 400;
  line-height: 25px;
}

.prices_div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.newPrice_and_discount_div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
}

.newPrice{
  font-size: 1.75rem;
  font-weight: 700;
}

.discount_div{
  width: 51px;
  height: 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--bege);
  border-radius: 8px;
}

.discount{
  color: var(--orange);
  font-size: 1rem;
  font-weight: 700;
}

.oldPrice{
  color: var(--gray-for-discount);
  font-size: 1rem;
  font-weight: 700;
}

.amount_and_AddCart_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.amount_div{
  width: 100%;
  max-width: 327px;
  max-height: 56px;
  display: flex;
  flex-grow: 2;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-blue-for-amount-control);
  border-radius: 10px;
}

.amount_div button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.amount_div button path{
  transition: .2s;
}

.amount_div span{
  font-size: 1rem;
  font-weight: 700;
}

.addToCartButton{
  height: 56px;
  width: 100%;
  max-width: 327px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--orange);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 25px 45px -15px var(--add-to-cart-button-shadow);
  transition: .2s;
}

@media(min-width: 768px){
  .slideshow_container{
    height: 550px;
  }

  .slide img{
    object-fit:contain;
    object-position: center;
  }

  .previous_button, .next_button{
    border: 2px solid var(--orange);
    transition: stroke .2s;
  }

  .previous_button{
    left: 50px;
  }

  .next_button{
    right: 50px;
  }

  .previous_button:hover path, .next_button:hover path{
    stroke: var(--orange);
  }

  .product_container{
    padding-top: 2.5rem;
    align-items: center;
    gap: 1.5rem;
  }

  .description{
    width: 500px;
    text-align: center;
  }

  .newPrice_and_discount_div{
    gap: .8rem;
  }

  .discount_div{
    margin-right: 4rem;
  }

  .addToCartButton, .amount_div{
    height: 56px;
    width: 327px;
  }

}

@media(min-width: 1230px){

  main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
    padding-top: 3rem;
  }

  .slideshow_container{
    width: 350px;
    height: 565px;
    position: static;
  }

  .mainImage{
    width: 350px;
    height: 350px;
    display: block;
    cursor: pointer;
  }

  .mainImage img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .slides{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .slide{
    width: 70px;
    height: 70px;
    display: block;
    cursor: pointer;
  }

  .slide img{
    border-radius: 15px;
  }

  .slide.active{
    border: 3px solid var(--orange);
    border-radius: 17px;
  }

  .slide.active img{
    opacity: .3;
  }

  .slide:hover img{
    opacity: .5;
  }

  .previous_button, .next_button{
    display: none;
  }

  .product_container{
    gap: 1rem;
    padding: 2rem 1.5rem 0 1.5rem;
    align-items: flex-start;
  }

  .companyName{
    font-size: .7rem;
    letter-spacing: 2px;
  }

  .productName{
    width: 445px;
    font-size: 2.5rem;
    line-height: 48px;
  }

  .description{
    width: 445px;
    font-size: .85rem;
    line-height: 26px;
    text-align: start;
  }

  .prices_div{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .8rem;
  }

  .amount_and_AddCart_div{
    flex-direction: row;
  }

  .amount_div{
    width: 157px;
  }

  .amount_div button:hover path{
    fill: var(--orange-hover);
  }

  .addToCartButton{
    width: 272px;
  }

  .addToCartButton:hover{
    background-color: var(--add-to-cart-button-hover);
  }

  .modal{
    width: auto;
    height: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    padding-top: 5rem;
    border: none;
    overflow: hidden;
  }

  .modal .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .modal .mainImage{
    width: 400px;
    height: 400px;
    position: relative;
    margin: 0 auto;
  }

  .modal .close_button{
    width: 20px;
    height: 20px;
    position: absolute;
    top: -40px;
    right: 0;
    background-color: transparent;
    border: none;
    transition: .2s;
  }

  .modal .close_button:hover path{
    fill: var(--orange);
  }

  .modal .slides{
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0;
  }

  .modal .slide{
    width: 75px;
    height: 75px;
    background-color: var(--white);
    border-radius: 17px;
  }

  .modal .slide img{
    border-radius: 15px;
  }

  .modal .slide:hover{
    border-radius: 16px;
  }

  .modal .slide:hover img{
    opacity: .6;
  }

  .modal .slide.active{
    border-radius: 18px;
  }

  .modal .previous_button, .modal .next_button{
    width: 56px;
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    background-color: var(--white);
    border: none;
    border-radius: 100%;
  }

  .modal button path{
    transition: .2s;
  }

  .modal .previous_button:hover path, .next_button:hover path{
    stroke: var(--orange);
  }

  .modal .previous_button{
    left: -30px;
  }

  .modal .next_button{
    right: -30px;
  }

  .modal::backdrop{
    background-color: hsl(0, 0%, 0%, .75);
  }
}

@media(min-width: 1440px){

  main{
    gap: 6rem;
    padding-top: 6rem;
  }

  .slideshow_container{
    width: 445px;
  }

  .mainImage{
    width: 445px;
    height: 445px;
  }

  .slide{
    width: 88px;
    height: 88px;
  }

  .slide img{
    object-fit: fill;
    border-radius: 15px;
  }

  .product_container{
    padding-top: 4rem;
    gap: 2rem;
  }

  .modal .container{
    flex-direction: column;
    gap: 2.5rem;
  }

  .modal .mainImage{
    width: 550px;
    height: 550px;
  }

  .modal .slides{
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .modal .slide{
    width: 88px;
    height: 88px;
  }

  .modal .previous_button, .modal .next_button{
    top: 270px;
  }
}


