@keyframes fade {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

.fade{
  animation-name: fade;
  animation-duration: 1.2s;
}

li{
  list-style-type: none;
}

button{
  cursor: pointer;
}

.slideshow_container{
  position: relative;
  width: 100%;
  height: auto;
}

.mainImage{
  display: none;
}

.slides{
  height: 100%;
  position: relative;
}

.slide{
  width: 100%;
  height: 100%;
  display: none;
}

.slide.active{
  display: block;
}

.slide img{
  width: 100%;
  height: 100%;
}

.previous_button, .next_button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 100%;
  translate: (50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous_button{
  left: 15px;
}

.next_button{
  right: 15px;
}

.fade{
  animation-name: fade;
  animation-duration: 1.2s;
}

.product_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  padding-bottom: 3rem;
  gap: 1rem;
}

.companyName{
  color: #FF7E1B;
  font-size: .75rem;
  letter-spacing: 1.85px;
}

.productName{
  color: #1D2026;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 32px;
}

.description{
  color: #69707D;
  font-size: .9375rem;
  line-height: 25px;
}

.prices_div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newPrice_and_discount_div{
  display: flex;
  align-items: center;
  gap: .8rem;
}

.newPrice{
  font-size: 1.75rem;
  font-weight: 700;
}

.discount_div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFEEE2;
  width: 51px;
  height: 27px;
  border-radius: 8px;
}

.discount{
  color: #FF7E1B;
  font-size: 1rem;
  font-weight: 700;
}

.oldPrice{
  color: #B6BCC8;
  font-size: 1rem;
}

.amount_and_AddCart_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.amount_div{
  background-color: #F6F8FD;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 327px;
  height: 56px;
  border-radius: 10px;
}

.amount_div button{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 1rem 1.5rem;
}

.amount_div button path{
  transition: .2s;
}

.amount_div span{
  font-size: 1rem;
  font-weight: 700;
}

.addToCartButton{
  background-color: #FF7E1B;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 327px;
  height: 56px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 25px 45px -15px hsl(26, 100%, 55%, .6);
  transition: .2s;
}

@media(min-width: 1230px){

  main{
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 6rem;
    padding-top: 3rem;
    padding-bottom: 4rem;

  }

  .slideshow_container{
    position: static;
    width: 445px;
    height: 565px;
  }

  .mainImage{
    cursor: pointer;
    display: block;
    width: 445px;
    height: 445px;
  }

  .mainImage img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .slides{
    width: auto;
    height: auto;
    display: flex;
    margin-top: 2rem;
    gap: 2rem;
  }

  .slide{
    width: 88px;
    height: 88px;
    display: block;
    cursor: pointer;
  }

  .slide.active{
    border: 3px solid #FF7E1B ;
    border-radius: 17px;
  }

  .slide.active img{
    display: block;
    opacity: .3;
  }

  .slide img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: .2s;
  }

  .slide:hover img{
    opacity: .5;
  }

  .previous_button, .next_button{
    display: none;
  }

  .previous_button{
    left: 15px;
  }

  .next_button{
    right: 15px;
  }

  .product_container{
    padding: 0 1.5rem 0 1.5rem;
    gap: 2rem;
    position: relative;
  }

  .companyName{
    font-size: .8125rem;
    letter-spacing: 2px;
  }

  .productName{
    width: 445px;
    font-size: 2.75rem;
    line-height: 48px;
  }

  .description{
    width: 445px;
    line-height: 26px;
  }

  .prices_div{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .6rem;
  }

  .amount_and_AddCart_div{
    flex-direction: row;
  }

  .amount_div{
    width: 157px;
  }

  .amount_div button:hover path{
    fill: #FFAB6A;
  }

  .addToCartButton{
    width: 272px;
  }

  .addToCartButton:hover{
    background-color: #FFAB6A;
  }


  #modal{
    background-color: transparent;
    border: none;
    width: auto;
    height: 100vh;
    top: 0;
    left: 50%;
    overflow: hidden;
    translate: -50%;
    margin-top: 5rem;
  }

  #modal .mainImage{
    position: relative;
    margin: 0 auto;
    width: 550px;
    height: 550px;
  }

  #modal .slides{
    justify-content: center;
    height: 100vh;
  }

  #modal .previous_button, .next_button{
    position: absolute;
    top: 270px;
    width: 56px;
    height: 56px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #modal button path{
    transition: .2s;
  }

  #modal .previous_button:hover path, .next_button:hover path{
    stroke: #FF7E1B;
  }

  #modal .previous_button{
    left: -30px;
  }

  #modal .next_button{
    right: -30px;
  }



  #modal::backdrop{
    background-color: hsl(0, 0%, 0%, .75);
  }

}


