header{
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.button_logo_menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button_logo_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button{
  width: 16px;
  height: 15px;
  background:transparent;
  border: none;
  z-index: 4;
  cursor: pointer;
}

.button img:first-child{
  display: block;
}

.button img:last-child{
  display: none;
}

.nav.open .button img:first-child{
  display: none;
}

.nav.open .button img:last-child{
  display: block;
  position: fixed;
  top: 1.8rem;
  left: 1.5rem;
}

.logo{
  width: 137.5px;
  height: 20px;
}

.menu_list{
  width: 250px;
  height: 100%;
  list-style: none;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: -100%;
  padding-top: 6rem;
  padding-left: 1.5rem;
  z-index: 3;
  transition: .3s;
}

.nav.open .menu_list{
  left: 0;
}

.menu_list li{
  padding-bottom: 1.5rem;
}

.menu_list li a{
  color: var(--black);
  font-weight: 700;
  font-size: 1.125rem;
  cursor: pointer;
}

.cart_avatar_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1.5rem;
}

.cart{
  width: 21.82px;
  height: 20px;
  place-self: center;
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.amountOfProducts{
  position: absolute;
  top: -5px;
  right: -8px;
  background-color: var(--orange);
  padding: .01rem .4rem;
  border-radius: 7px;
  font-size: 0.625rem;
  font-weight: 700;
  color: var(--white);
}

.cart:hover path{
  fill: var(--black);
}

.avatar{
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.avatar:hover{
  border: 1px solid var(--orange);
  border-radius: 100%;
}

.overlay{
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: var(--black-75-opacity);
  position: fixed;
  top: 0;
  opacity: 0;
  z-index: 1;
  transition: .3s;
}

.nav.open .overlay{
  visibility: visible;
  opacity: .7;
}

.cart_dropdown{
  width: 360px;
  height: auto;
  min-height: 256px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  translate: 0 -100%;
  background-color: var(--white);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 80px;
  right: 7.5px;
  border-radius: 10px;
  z-index: 2;
  transition: .2s;
}

.cart_avatar_div.openCart .cart_dropdown{
  visibility: visible;
  opacity: 1;
  translate: 0;
}

.title_cart{
  align-self: flex-start;
  font-size: 1rem;
  padding: 1.5rem;
}

.border_bottom{
  width: 360px;
  height: 1px;
  background-color: var(--light-gray-for-border-bottom);
}

.emptyCart{
  padding-top: 4.5rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--gray);
}

.info_cart_div{
  width: 312px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  gap: 1rem;
}

.productImg_cart{
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.productName_cart{
  color: var(--gray);
  font-size: .9375rem;
  padding-bottom: .4rem;
}

.productPrice_cart{
  color: var(--gray);
  font-size: .9375rem;
}

.productPrice_cart b{
  color: var(--black);
}

.deleteProduct_button_cart{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.deleteProduct_button_cart:hover path{
  fill: var(--black);
}

.checkoutButton_cart{
  width: 312px;
  height: 56px;
  border: none;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 10px;
  cursor: pointer;
}

@media(min-width: 1230px){

  .nav{
    width: 1110px ;
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--light-gray-for-border-bottom);
  }

  .button_logo_menu{
    flex-direction: row;
    gap: 1rem;
  }

  .button{
    display: none;
  }

  .menu_list{
    width: 100%;
    flex-direction: row;
    justify-content: center;
    position: static;
    padding-top: 0;
    padding-left: 0;
  }

  .menu_list li{
    padding-bottom:0;
    padding-left: 2.5rem;
  }

  .menu_list li a{
    position: relative;
    font-weight: 400;
    font-size: 0.9375rem;
    color: var(--gray);
    transition: .2s;
  }

  .menu_list li a::after{
    width: 100%;
    height: 4px;
    background-color: var(--orange);
    opacity: 0;
    content: "";
    position: absolute;
    left: 0;
    bottom: -47px;
    pointer-events: none;
    transition: .2s;
  }

  .menu_list li a:hover{
    color: var(--black);
  }

  .menu_list li a:hover::after{
    opacity: 1;
  }

  .cart_dropdown{
    box-shadow: 0 20px 20px 1px var(--cart-shadow);
  }

  .cart_avatar_div{
    gap: 2.5rem;
  }

  .avatar{
    width: 50px;
    height: 50px;
  }

  .nav.open .overlay{
    visibility: hidden;
    opacity: 0;
  }
}

@media(min-width: 1440px){
  .nav{
    padding: 2rem 0;
  }
}



